/* Write your CSS here */

.image {
  height: 250px;
  width: 350px;
}

.course-paragraph {
  font-family: 'roboto';
  font-weight: bold;
  color: #171f46;
  font-size: 15px;
  margin-left: 5px;
}

.description {
  font-family: 'roboto';
  font-weight: 400;
  color: #171f46;
  font-size: 15px;
  margin-left: 5px;
}

.course-heading {
  font-family: 'roboto';
  font-weight: bold;
  color: #2b237c;
  font-size: 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.days-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  text-decoration: none;
  font-family: 'roboto';
  font-weight: bold;
  color: #2b237c;
  font-size: 15px;
}
